@import "tailwindcss";
@plugin "@tailwindcss/typography";

@variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Literata Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 200 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/literata:vf@latest/latin-opsz-normal.woff2)
    format("woff2-variations");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "press-start-2p";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/press-start-2p@latest/latin-400-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/press-start-2p@latest/latin-400-normal.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

@theme {
  --font-mono: "IBM Plex Mono", ui-monospace, monospace;
  --font-display: "press-start-2p", ui-monospace, monospace;
  --font-serif: "Literata Variable", ui-serif, Georgia, Cambria,
    "Times New Roman", Times, serif;
  --color-maxexq-dark: var(--color-neutral-900);
  --color-maxexq-light: var(--color-neutral-100);
  --color-maxexq-dark-muted: var(--color-neutral-600);
  --color-maxexq-light-muted: var(--color-neutral-400);
  --color-maxexq-accent-light: var(--color-emerald-400);
  --color-maxexq-accent-light-muted: var(--color-emerald-300);
  --color-maxexq-accent-dark: var(--color-emerald-600);
  --color-maxexq-accent-dark-muted: var(--color-emerald-800);
  --color-code-dark: var(--color-neutral-900);
  --color-code-light: var(--color-neutral-100);
}

@layer base {
  :root {
    --maxexq-stroke: 2px;
    --maxexq-offset: 6px;
    --maxexq-transition-duration: 0.15s;
    --maxexq-transition-timing-function: ease-in-out;
  }

  .maxexq-transition {
    @media (prefers-reduced-motion: no-preference) {
      transition: background-color var(--maxexq-transition-duration)
          var(--maxexq-transition-timing-function),
        color var(--maxexq-transition-duration)
          var(--maxexq-transition-timing-function),
        fill var(--maxexq-transition-duration)
          var(--maxexq-transition-timing-function),
        border-color var(--maxexq-transition-duration)
          var(--maxexq-transition-timing-function),
        transform var(--maxexq-transition-duration)
          var(--maxexq-transition-timing-function);
    }
  }

  .maxexq-bg {
    background-color: var(--color-maxexq-light);
    :where(.dark, .dark *) & {
      background-color: var(--color-maxexq-dark);
    }
  }

  .-maxexq-bg {
    background-color: var(--color-maxexq-dark);
    :where(.dark, .dark *) & {
      background-color: var(--color-maxexq-light);
    }
  }

  .maxexq-text {
    color: var(--color-maxexq-dark);
    :where(.dark, .dark *) & {
      color: var(--color-maxexq-light);
    }
  }

  .-maxexq-text {
    color: var(--color-maxexq-light);
    :where(.dark, .dark *) & {
      color: var(--color-maxexq-dark);
    }
  }

  .maxexq-muted {
    color: var(--color-maxexq-dark-muted);
    :where(.dark, .dark *) & {
      color: var(--color-maxexq-light-muted);
    }
  }

  .maxexq-fill {
    fill: var(--color-maxexq-dark);
    &:where(.dark, .dark *) {
      fill: var(--color-maxexq-light);
    }
  }

  .maxexq-text-muted {
    color: var(--color-maxexq-dark-muted);
    &:where(.dark, .dark *) {
      color: var(--color-maxexq-light-muted);
    }
  }

  .maxexq-border {
    border: var(--maxexq-stroke) solid;
    border-color: var(--color-maxexq-dark);
    &:where(.dark, .dark *) {
      border-color: var(--color-maxexq-light);
    }
  }

  .maxexq-border-b {
    border-bottom: var(--maxexq-stroke) solid;
    border-color: var(--color-maxexq-dark);
    &:where(.dark, .dark *) {
      border-color: var(--color-maxexq-light);
    }
  }

  .maxexq-offset {
    text-underline-offset: var(--maxexq-offset);
  }

  .opsz {
    font-variation-settings: "opsz" 72;
  }
}
